raytracer/Build/skeleton
raytracer/Build/skeleton.o
/raytracer/Build/*

raytracer/Build/
raytracer/screenshot.bmp

raytracer/screenshot\.bmp

*.bmp

rasteriser/Build/skeleton

rasteriser/Build/skeleton\.o
